<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jclzh.shoolsports">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 挂载和反挂载的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取手机状态 ,如来了新电话 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 百度地图定位功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".model.Application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图AK填写 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RdFn0qES7jTLur3MBGt3cGwm4ZY9BZIS" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!-- 高德地图的API KEY -->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="38904f226990001d14e3c24d01943d6d"/> -->
        <!-- <service android:name="com.amap.api.location.APSService"></service> -->

        <activity android:name=".view.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.PersonalDataActivity"
            android:label="@string/title_activity_personal_data"
            android:theme="@style/AppTheme" />

        <!-- 拍摄照片，适配7.0以上 -->
        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.jclzh.shoolsports.utils.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
        -->
        <activity
            android:name=".view.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.ShoppingRecordActivity"
            android:label="@string/title_activity_shopping_record"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.MyTrainingActivity"
            android:label="@string/title_activity_my_training"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.PunchingCardRecordActivity"
            android:label="@string/title_activity_punching_card_record"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>